<strong>Olá</strong>
<p>
  <strong>CPF: </strong> {{ cpf }} <br />
  <strong>E-Mail: </strong> {{ email }} <br />
  <strong>Status do seu atendimento: </strong> {{ status }} <br />
  <strong>Mensagem: </strong> {{ mensagem }} <br />
</p>
